{% extends 'base.html' %}
{% block title %} لیگ ها {% endblock %}


{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Leagues</title>
        <style>
            h3 {
                color: #2a6496;

            }
        </style>
    </head>
    <body background="/sport/templates/sport/basketball/leagues_bg.jpg">
    {#todo back ground#}
    <br><br>
    <h1>
        لیگ ها
    </h1>
    <br>
    <div class="container">
        <form action="{% url 'sport:basketball_leagues' %}" method="post">
            {% csrf_token %}
            <div class="input-group">


                <input type="text" name="part_of_league" class="form-control"
                       placeholder="لطفا بخشی از نام لیگ را بنویسید">
                <div class="input-group-btn">

                    <button type="submit" class="btn btn-outline-success">جست و جو</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <h3>لیگ های جاری</h3><br>
        {% if current_leagues %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>لیگ</th>

                </tr>
                </thead>
                <tbody>


                {% for l in current_leagues %}
                    <tr>
                        <td>
                            <a href="{% url 'sport:league_detail_basketball' l.id %}">{{ l.name }}{{ l.year }}
                                - {{ l.year|add:1 }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>هیچ لیگ جاری وجود ندارد! </p>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <h3>لیگ های آرشیو</h3><br>
        {% if archive_leagues %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>لیگ</th>

                </tr>
                </thead>
                <tbody>

                {% for l in archive_leagues %}
                    <tr>
                        <td>
                            <a href="{% url 'sport:league_detail_basketball' l.id %}">{{ l.name }} {{ l.year }}
                                - {{ l.year|add:1 }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>هیچ لیگ آرشیوی وجود ندارد</p>
        {% endif %}
    </div>
    </body>
{% endblock %}