{% extends 'base.html' %}
{% block title %} تیم ها {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Basketball Teams</title>
</head>
<body>


{% if teams %}
    <h1>تیم ها</h1>
    <ul>
        {% for t in teams %}
            <li>

                                <a href="{% url 'sport:basketball-team-detail' t.id %}">
                                    {{ t.name }}
                                </a>


            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>هنوز تیمی ثبت نشده است!</p>
{% endif %}
</body>
{% endblock %}