<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent General News</title>
</head>
<body>
{% if recent_news %}
<h1>اخرین اخبار</h1>
    <ul>
        {% for n in recent_news %}
            <li>

                                <a href="{% url 'sport:news-detail' n.id %}">
                                    {{ n.title }}
                                </a>

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        No news yet!
    </p>
{% endif %}

<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    تعداد اخباری که می خواهید مشاهده کنید را وارد کنید
    <br>
    <input type="number" name="number" value="10">
    <br>
    <br><br>
    <input type="submit" value="Submit">
</form>



{% if favorite_news %}
<h1>اخرین اخبار مورد علاقه</h1>
    <ul>
        {% for n in favorite_news %}
            <li>

                                <a href="{% url 'sport:news-detail' n.id %}">
                                    {{ n.title }}
                                </a>

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        اخبار مورد علاقه ای در دیروز و امروز وجود وجود ندارد!
    </p>
{% endif %}

<h1>to debug</h1>
{% if teams %}
    <h1>تیم های مورد علاقه</h1>
    <ul>
        {% for t in teams %}
            <li>

                                <a href="{% url 'sport:football-team-detail' t.id %}">
                                    {{ t.name }}
                                </a>


            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>هنوز تیمی مورد علاقه ثبت نشده است!</p>
{% endif %}

{% if future_football_games %}
    <h1>بازی های فوتبال اینده</h1>
    <ul>
    {% for g in future_football_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    بازی فوتبال اینده وجود ندارد
{% endif %}

{% if future_basketball_games %}
    <h1>بازی های بسکتبال اینده</h1>
    <ul>
    {% for g in future_basketball_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    بازی بسکتبال اینده وجود ندارد
{% endif %}

{% if football_games %}
    <h1>بازی های فوتبال گذشته و حال</h1>
    <ul>
    {% for g in football_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    بازی های فوتبال گذشته و حال وجود ندارد
{% endif %}

{% if basketball_games %}
    <h1>بازی های بسکتبال حال و گذشته</h1>
    <ul>
    {% for g in basketball_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    بازی بسکتبال حال و گذشته وجود ندارد
{% endif %}

{% if favorite_football_games %}
    <h1>بازی های فوتبال مورد علاقه</h1>
    <ul>
    {% for g in favorite_football_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    بازی فوتبال مورد علاقه وجود ندارد
{% endif %}

{% if favorite_basketball_games %}
    <h1>بازی بسکتبال مورد علاقه</h1>
    <ul>
    {% for g in favorite_basketball_games %}
        <li>
        <a href="{% url 'sport:football-game-detail' g.id %}">
            بازی
        </a>
        {% for tg in g.footballteaminfootballgame_set.all %}
                    <p>{{ tg.team.name }} {{ tg.team_score }} {{ tg.property_percent }} </p>
                {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    بازی بسکتبال مورد علاقه وجود ندارد
{% endif %}




</body>
</html>

{#'future_football_games': future_football_games,#}
{#        'future_basketball_games': future_basketball_games,#}
{#        'football_games': football_games,#}
{#        'basketball_games': basketball_games,#}
{#        'favorite_football_games': favorite_football_games,#}
{#        'favorite_basketball_games': favorite_basketball_games#}