<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Detail</title>
</head>
<body>

<h1>{{ news.title }}</h1>
<h3>{{ news.publish_date }}</h3>

{% if news.resource_set.all %}
    <h3>منابع</h3>
    <ul>
        {% for r in news.resource_set.all %}
            <li>
                <p> {{ r.name }}</p>
            </li>

        {% endfor %}
    </ul>
{% else %}
    <p>منبع ندارد!</p>
{% endif %}


<p>{{ news.text }}</p>




{% if news.tag_set.all %}
    <h3>تگ های مرتبط</h3>
    <ul>
        {% for t in news.tag_set.all %}
            <li>
                <p> {{ t.text }}</p>
            </li>

        {% endfor %}
    </ul>
{% else %}
    <p>تگ مرتبط ندارد!</p>
{% endif %}

{% if related_news %}
    <h3>خبرهای مرتبط</h3>
    <ul>
        {% for rn in related_news %}
            <li>
                <a href="{% url 'sport:news-detail' news.id %}">
                    {{ rn.title }}
                </a>

            </li>

        {% endfor %}
    </ul>
{% else %}
    <p>خبر مرتبط ندارد!</p>
{% endif %}
{% if comments %}
    <h1>کامنت ها</h1>
    <ul>
    {% for c in comments %}
        <li>
        <h3>{{ c.title }}</h3>
            <h5>{{ c.writer.username }}</h5>
        <p>{{ c.text }}</p>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>کامنتی وجود ندارد برای این خبر</p>
{% endif %}

<form action="{% url 'sport:news-detail' news.id %}" method="post" id="usrform">
    {% csrf_token %}
    <input type="submit" value="ارایه">
    <input type="text" name="title" value="موضوع">
</form>
<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>

</body>
</html>